body {
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
}

.mobile-overlay {
  box-shadow: 6px 0 5px -5px rgba(0, 0, 0, 0.3);
}
